site_name: Wiki For King
site_url: https://mydomain.org/
theme:
  logo: images/kingwiki_logo.png
  favicon: images/kingwiki_logo.png
  name: material
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

  icon:
    previous: fontawesome/solid/angle-left
    next: fontawesome/solid/angle-right

  features:
    - navigation.instant
    - navigation.tabs
    - navigation.sections
    - navigation.path
    - navigation.indexes
    - navigation.footer
    - search.share
    - search.highlight
    - header.autohide

plugins:
  - search
  - offline

copyright: Copyright &copy; 2025 King Jin
